<div class="masthead-grid masthead" >
    <h1>Saved Stories</h1>   
</div>

<div class="grid-container">
    {{#each news}}
    <article style="  box-shadow: -1px 4px 2px -2px grey;">
          <h3 style="background:#dedede; border: 1px solid #bbb; padding:10px; margin:10px; " >
             <a href="{{link}}"> {{title}}</a> 
             <button>Save</button>
        </h3> 
         <div style="padding:20px; padding-top:0px;">
             {{summary}}
        </div>
    </article>
{{/each}}
</div>
